  <style>
   @media print {
    .no-print, .no-print * { display: none !important; }
   }

   .Barcode {
       font-family: 'Libre Barcode 128';
       font-size: 8em;
       text-align: center;
       padding-top: .5em;
   }

   table {
       border: 1px solid black;
       width: 100%;
   }

   th {
       border: 1px solid black;
       position: -webkit-sticky;
       position: -moz-sticky;
       position: -ms-sticky;
       position: -o-sticky;
       position: sticky;
       top: 0px;
   }

   td {
       border: 1px solid black;
       text-align: center;
       font-family: monospace;
   }

   th a {
       background-color: black;
       color: yellow;
       font-size: 30px;
   }

   tr:hover {
       background-color: yellow;
   }

   #checkboxgrid li {
       display: block;
       float: left;
       width: 25%;
   }

   .hiddenRow, .hiddenCell {
       display: none;
   }
  </style>